
<div class='content'>
  <div class='centered-content'>
    <h1>Blaarg</h1>

    <%= link_to 'New Article', new_article_path %>

      <% @articles.each do |article| %>
        <div class='card'>
          <h3><%= article.title %></h3>
          <p class='article-text'>
            <%= article.text %></p>
          <div class='article-links'>
            <span><%= link_to 'Show', article_path(article) %></span>
            <span><%= link_to 'Edit', edit_article_path(article) %></span>
            <span><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></span>
          </div>
        </div>
      <% end %>
    </table>
  </div>
</div>
