
<div class='content'>
  <div class='centered-content'>
    <h1 class='page-title'>Blaarg</h1>

    <div class='nav-actions'>
      <%= link_to '', root_path, class: "add-article fas fa-igloo"%>
      <%= link_to '', new_article_path, class: "add-article fas fa-feather-alt"%>
    </div>

    <% @articles.each do |article| %>
      <div class='article'>
        <%= link_to(article_path(article), class: 'article-link') do %>
          <div class='card'>
            <h3><%= article.title %></h3>

            <p class='article-text'>
              <%= article.text %></p>
          </div>
        <% end %>
        <div class='article-actions'>
          <span><%= link_to '', edit_article_path(article), class: "fas fa-hotdog" %></span>
          <span><%= link_to '', article_path(article), class: "fas fa-toilet",
            method: :delete,
            data: { confirm: 'Are you sure?' } %></span>
        </div>
      </div>

    <% end %>

  </div>
</div>
