<div class='content'>
  <h2>
    <%= @article.title %>
  </h2>

  <p>
    <%= @article.text %>
  </p>

  <%= link_to ' Edit', edit_article_path(@article), class: "fas fa-hotdog" %>

  <h3>Comments</h3>
  <%= render @article.comments %>

  <p>Add a comment:</p>
  <%= render 'comments/form' %>

  <%= link_to ' Back', articles_path, class: "fas fa-hand-point-left" %>
</div>
